<a class="highlight" href="/dogadanja/skola-osnova-programiranja-2013">
  <span class="outerLeftMargin"> 
    <h1>  <span> Škola osnova <br />programiranja 2013  </span> </h1>
    <p>   <span> 17:00, 26.10.2013, A100@FESB     </span> </p>
  </span>
  <img src="/Assets/Events/skola-osnova-programiranja-2013/feature.jpg" />
</a>

<h2><span>Prošla događanja</span></h2>
<ul class="legend">
  <li>
    <span class="dif easy"></span>
    <span> za početnike </span>
  </li>
  <li>
    <span class="dif medium"></span>
    <span> za naprednije </span>
  </li>
  <li>
    <span class="dif hard"></span>
    <span> za iskusnjare </span>
  </li>
</ul>

<ul class="clearfix outerMargins">
  <li class="eventListItem">
    <a href="dogadanja/skola-osnova-programiranja-2013" class="eventLink" style="background-image: url('');">
      <span class="dif easy"></span>
      <span>Škola osnova programiranja 2013</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/mala-skola-photoshopa" class="eventLink" style="background-image: url('');">
      <span class="dif medium"></span> 
      <span>Mala škola Photoshopa</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/skola-osnova-racunalnih-mreza" class="eventLink" style="background-image: url('');">
      <span class="dif medium"></span>
      <span>Škola osnova računalnih mreža</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/skola-osnova-programiranja-2012" class="eventLink" style="background-image: url('');">
      <span class="dif easy"></span>
      <span>Škola osnova programiranja 2012</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/skola-web-programiranja" class="eventLink" style="background-image: url('');">
      <span class="dif hard"></span>
      <span>Škola web programiranja</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/skola-osnova-programiranja-2011" class="eventLink" style="background-image: url('');">
      <span class="dif easy"></span>
      <span>Škola osnova programiranja 2011</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/ruby-on-rails" class="eventLink" style="background-image: url('');">
      <span class="dif hard"></span>
      <span>Ruby on Rails predavanja</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/skola-programiranja-u-c-sharp" class="eventLink" style="background-image: url('');">
      <span class="dif medium"></span>
      <span>Škola programiranja u C#</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/skola-osnova-programiranja-2010" class="eventLink" style="background-image: url('');">
      <span class="dif easy"></span>
      <span>Škola osnova programiranja 2010</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/naucite-programirati" class="eventLink" style="background-image: url('');">
      <span class="dif medium"></span>
      <span>Naučite programirati</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/algoritmi-trikovi-za-natjecanje" class="eventLink" style="background-image: url('');">
      <span class="dif hard"></span>
      <span>Algoritmi - trikovi za natjecanje</span>
    </a>
  </li>
  <li class="eventListItem">
    <a href="dogadanja/skola-osnova-programiranja-2009" class="eventLink" style="background-image: url('');">
      <span class="dif easy"></span>
      <span>Škola osnova programiranja 2009</span>
    </a>
  </li>
</ul>

<div class="yt outerMargins">
  <a href="http://www.youtube.com/user/DUMPSnimke">
    <span> Posjeti  DUMP YouTube kanal </span>
  </a>
</div>