<div class="about">
  <h1> <span> Što je DUMP i čime se bavimo? </span> </h1>

  <div class="outerMargins table">
    
    <div class="col">
        <div class="icon"><img src="/Assets/Themes/Home/Images/passion.png" /></div>
        <h2>UDRUGA MLADIH ENTUZIJASTA</h2>
        <p> Mi smo udruga pokrenuta zbog entuzijazma i ljubavi prema tehnologiji, najviše nas veseli rad s <i> cutting edge </i>tehnologijama, modernim hardverom i raznovrsnim industrijskim alatima. </p>
        <p> Mi smo “jedni od onih ljudi” koji u torbi nose vlastitu tipkovnicu, prate tehnološke blogove i znaju točne specifikacije vašeg mobitela. </p>
    </div>

    <div class="col">
      <div class="icon"><img src="/Assets/Themes/Home/Images/courses.png" /></div>
      <h2>ŠIRIMO ZNANJE O TEHNOLOGIJI</h2>
      <p>Želimo podijeliti znanje i entuzijazam koji imamo na što širi krug ljudi, motivirati zainteresirane studente da samostalno nastave istraživati i učiti.</p>
      <p> Organiziramo besplatne cikluse predavanja o osnovama programiranja, razvoju za web i desktop. Vidimo se na idućem ciklusu predavanja!</p>
    </div>
    
    <div class="col">
      <div class="icon"><img src="/Assets/Themes/Home/Images/brains.png" /></div>
      <h2>STVARAMO KVALITETNE OSOBE</h2>
      <p>Biti dumpovac nije “lako” - to podrazumijeva snažnu volju i sposobnost učenja, rad u timu i izrazitu komunikaciju. </p>
      <p>Kroz članstvo u udruzi dumpovci grade vještine komunikacije, prezentiranja, osjećaj odgovornosti i obzirnosti jedni prema drugima. </p>
    </div>
    
  </div>
  
</div>