<div class="billboard flexslider">
  <ul class="slides">

    <li class="slide">
      <a style	=	"background-image: url('/Assets/Images/Billboards/billboard-skola-programiranja-2013.jpg') ;" 
		    href	=	"/dogadanja/skola-osnova-programiranja-2013">
        <span class="vignete"></span>
		    <h1>  <span> Kreće peta, jubilarna, <br /> Škola osnova programiranja! </span> </h1>
	    </a>
    </li>    
    
    <li class="slide"> 
	    <a style	=	"background-image: url('/Assets/Images/Billboards/billboard-authink-1.jpg') ;" 
		    href	=	"/novosti/129/">
        <span class="vignete"></span>
		    <h1>  <span> AuThinkovci osvojili <br /> DreamSpark Award za edukaciju! </span> </h1>
	    </a>
    </li>
    
    <li class="slide"> 
	    <a style	=	"background-image: url('/Assets/Images/Billboards/billboard-photoshop-2.jpg') ;" 
		    href	=	"/dogadanja/mala-skola-photoshopa">
        <span class="vignete"></span>
		    <h1>  <span> Održana Mala škola<br />  Photoshopa! </span> </h1>
	    </a>
    </li>
    
  </ul>
</div>