<!-- HTML kod primjera -->
<div class="values flexslider">

  <ul class="slides">

    <li class="slide" style="background-image: url('/Assets/Themes/Home/Images/values-technology.jpg')">
      <span class="table">
        <span class="cell">
          <h3> Volimo tehnologiju <span> u svakom obliku </span> </h3>
          <span class="text">
            <span> Tableti, <i>smartphonei</i>, lijepi prijenosnici, lijep kod, dobar dizajn, uredni kabeli, sponzorske majice, League of Legends rasprave, novi Visual Studio. That's how we roll. </span>
          </span>
          <span class="icon"> <img src="/Assets/Themes/Home/Images/values-icon-technology.png" /> </span>
        </span>
      </span>
    </li>    
    
    <li class="slide" style="background-image: url('/Assets/Themes/Home/Images/values-teaching.jpg')">
      <span class="table">
        <span class="cell">
          <h3> Volimo predavati <span> na neobične načine </span> </h3>
          <span class="text">
            <span> Na našim ciklusima djelimo palačinke, kitimo božićna drvca, glumimo robote i stvaramo priče. Ne vjerujemo klasičnom načinu predavanja, stoga to i ne prakticiramo. </span>
          </span>
          <span class="icon"> <img src="/Assets/Themes/Home/Images/values-icon-teaching.png" /> </span>
        </span>
      </span>
    </li>

    <li class="slide" style="background-image: url('/Assets/Themes/Home/Images/values-perfection.jpg')">
      <span class="table">
        <span class="cell">
          <h3> Pazimo na detalje <span> i bezgrešan kod </span> </h3>
          <span class="text">
            <span> Svaki razmak, svaki novi red, svaka točka zarez i svaki piksel se broji. Ne želimo biti jedni od "onih ljudi", stoga pazimo na detalje prilikom razvoja i dizajna naših proizvoda. Kvaliteta > kvantiteta! </span>
          </span>
          <span class="icon"> <img src="/Assets/Themes/Home/Images/values-icon-perfection.png" /> </span>
        </span>
      </span>
    </li>    
    
    <li class="slide" style="background-image: url('/Assets/Themes/Home/Images/values-enthusiasm.jpg')">
      <span class="table">
        <span class="cell">
          <h3> Volimo entuzijazam <span> i nasmijane ljude </span> </h3>
          <span class="text">
            <span> Biti dumpovac znači biti entuzijast, voliti i širiti entuzijazam. Volimo ljude koji rade isto, gledamo ih kao pokretače društvenih grupica. Upravo među entuzijastima najčešće tražimo potencijalne dumpovce. </span>
          </span>
          <span class="icon"> <img src="/Assets/Themes/Home/Images/values-icon-enthusiasm.png" /> </span>
        </span>
      </span>
    </li>
    
  </ul>
  
</div>