<div class="social clearfix">

  <h2 class="outerLeftMargin"> <span>Aktivni smo i na društvenim mrežama</span> </h2>

  <a href="http://www.youtube.com/user/DUMPSnimke" class="segment yt">
    <div class="icon"> <img src="/Assets/Themes/Home/Images/social-yt-icon.png" /> </div>
    <div class="info">
      <span class="number"> 136  </span>
      <span class="link">   DUMP Snimke  </span>
    </div>
  </a>  

  <a  href="https://twitter.com/dumphr" class="segment tw">
    <div class="icon"> <img src="/Assets/Themes/Home/Images/social-tw-icon.png" /> </div>
    <div class="info">
      <span class="number"> 255  </span>
      <span class="link">   twitter.com/dumphr </span>
    </div>
  </a>
  
  <a href="https://www.facebook.com/dump.hr" class="segment">
    <div class="icon"> <img src="/Assets/Themes/Home/Images/social-fb-icon.png" /> </div>
    <div class="info">
      <span class="number"> 1205  </span>
      <span class="link">   fb.com/dump.hr  </span>
    </div>
  </a>  
  
</div>