{{#with activeNews}}

	<span class="content">
	<h3 class="title"   >						{{title}}                          </h3>
	<span class="dateTime">						{{printLongDateTime publishedOn}}  </span>
	</span>

{{/with}}