<div class="newsNavigationWrapper">
  <div class="searchWrapper">
    <div class="title">Najnovije novosti</div>
    <input id="searchInput" type="text" placeholder="Pretraži najnovije novosti..." />
  </div>

  <div class="inner">
    <div id="newsContainer">
      <div id="newsListContainer"></div>
      <div class="loadMoreLatestNewsWrapper">
        <div class="loadingNews">
          <span>
            <img src="/Assets/Images/Shared/loader-circular.gif" alt="Loading animation" />
          </span>
        </div>
        <span class="loadMoreLatestNewsButton">UČITAJ JOŠ NOVOSTI</span>
      </div>
    </div>

    <div id="newsSearchContainer">
      <div id="newsSearchListContainer"></div>
      <div class="loadingNews">
        <span>
          <img src="/Assets/Images/Shared/loader-circular.gif" alt="Loading animation" />
        </span>
      </div>
    </div>

  </div>
</div>