<div id="newsNavigation" class="latest-news outerMargins"></div>
<div id="activeNewsSummaryPlaceholder" class="outerLeftMargin"></div>
<div id="activeNews" class="active-news outerRightMargin"></div>

<div class="loadingNews" id="loadingActiveNews"> 
  <span> <img src="/Assets/Images/Shared/loader-circular.gif" alt="Loading animation" /> </span> 
</div>
