.home .members {
  background-color: #f9f9f9;
  padding: 7em 0;
}
.home .members h2 {
  text-align: center;
  padding: 0 2em;
}
.home .members h2 span {
  font-size: 4.6em;
  font-family: 'Open Sans', "Segoe UI Light", "Segoe UI", Arial, Tahoma, sans-serif;
  font-weight: 100;
  color: #484848;
}
.home .members p {
  text-align: center;
  padding: 2em 12em 0 12em;
}
.home .members p span {
  font-size: 1.9em;
  color: #585858;
}
.home .members ul {
  text-align: center;
  margin: 5em 15% 0 15%;
}
.home .members ul li {
  display: inline-block;
}
.home .members ul li a {
  display: block;
  width: 12em;
  height: 12em;
  margin: 1.5em;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 9999px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: relative;
  overflow: hidden;
}
.home .members ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.home .members ul li a img {
  width: 100%;
  border-radius: 9999px;
}
.home .members ul li a span {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .04em;
  color: white;
  font-size: 8em;
  background-color: rgba(5, 170, 44, 0.79);
  border-radius: 9999px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  font-family: 'Open Sans', "Segoe UI Semibold", "Segoe UI", Arial, Tahoma, sans-serif;
  font-weight: 600;
}
.home .members ul li a:hover span {
  opacity: 1;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.home .members ul li.signup a span {
  opacity: 1;
  background-color: #05aa2c;
  font-size: 2.5em;
  padding: 1.7em;
}
.home .members ul li.signup a:hover span {
  background-color: #00cc30;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.home .members ul li .memberStory {
  display: none;
}
.simplemodal-container {
  padding: 0 5em;
  width: 90% !important;
}
.simplemodal-overlay {
  background-color: #0B1111;
}
.simplemodal-data.memberStory {
  display: table;
  margin: auto;
  width: 60%;
  position: relative;
  padding: 5em 0;
}
.simplemodal-data.memberStory img {
  border-radius: 9999px;
  border: .5em solid white;
  margin-bottom: 4em;
  width: 17em;
  height: 17em;
  position: absolute;
  left: 0;
}
.simplemodal-data.memberStory .story {
  padding-left: 25em;
  display: block;
}
.simplemodal-data.memberStory h2 {
  font-size: 4.1em;
  font-family: 'Open Sans', "Segoe UI Light", "Segoe UI", Arial, Tahoma, sans-serif;
  font-weight: 100;
  color: white;
  margin-bottom: .6em;
}
.simplemodal-data.memberStory p {
  font-size: 1.5em;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.86);
}
.simplemodal-data.memberStory ul li {
  display: inline-block;
  margin-top: 4em;
  margin-right: 2em;
  margin-bottom: 1em;
}
.simplemodal-data.memberStory ul li a {
  color: white;
  font-size: 1.3em;
  padding: .5em .95em;
  background-color: #05aa2c;
  border-radius: .85em;
}
#simplemodal-container a.modalCloseImg {
  background: url(/Assets/Themes/Shared/flexslider/images/bg_close.png) no-repeat;
  /* adjust url as required */

  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 5.2em;
  height: 5.2em;
  display: block;
  z-index: 3200;
  position: fixed;
  top: 3em;
  right: 3em;
  cursor: pointer;
  opacity: .7;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -ms-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
#simplemodal-container a.modalCloseImg:hover,
#simplemodal-container a.modalCloseImg:active {
  opacity: 1;
}
@media only screen and (max-width: 950px) {
  .home .members ul {
    text-align: center;
    margin: 1%;
    margin-top: 3em;
  }
  .home .members h2 span {
    font-size: 3.2em;
  }
  .home .members p {
    padding: 2em 7em 0 7em;
  }
  .home .members p span {
    font-size: 1.7em;
  }
  .home .members ul li a {
    width: 8em;
    height: 8em;
  }
  .home .members ul li a span {
    padding: .3em;
    font-size: 4em;
  }
  .home .members ul li.signup a span {
    font-size: 1.5em;
    padding: 2em;
  }
  .simplemodal-data.memberStory {
    display: table;
    margin: auto;
    width: 90%;
    position: relative;
    text-align: center;
  }
  .simplemodal-data.memberStory img {
    position: relative;
    left: auto;
  }
  .simplemodal-data.memberStory .story {
    padding-left: 0;
    display: block;
  }
}
