.home .social {
  background-color: #0F0F0F;
  width: 100%;
  display: block;
  position: relative;
  text-align: right;
}
.home .social h2 {
  top: 5em;
  text-align: left;
  position: absolute;
}
.home .social h2 span {
  font-size: 3em;
  font-family: 'Open Sans', "Segoe UI Light", "Segoe UI", Arial, Tahoma, sans-serif;
  font-weight: 100;
  color: #d3ebff;
}
.home .social .segment {
  padding: 5em 15em 3em 15em;
  height: 16em;
  display: block;
  float: right;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.home .social .segment.tw {
  background-color: #00aced;
}
.home .social .segment.yt {
  background-color: #B40000;
}
.home .social .segment:hover {
  background-color: #000;
}
.home .social .segment.tw:hover {
  background-color: #2ac2fc;
}
.home .social .segment.yt:hover {
  background-color: #790000;
}
.home .social .segment.tw img {
  width: 6em;
}
.home .social .segment.yt img {
  width: 5em;
}
.home .social .icon {
  padding-bottom: 5em;
  text-align: right;
}
.home .social .icon img {
  width: 2.5em;
}
.home .social .info {
  text-align: right;
}
.home .social .info .number {
  font-size: 3em;
  color: white;
  font-family: 'Open Sans', "Segoe UI Semibold", "Segoe UI", Arial, Tahoma, sans-serif;
  font-weight: 600;
  display: block;
}
.home .social .info .link {
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.68);
  display: block;
}
@media only screen and (max-width: 1250px) {
  .home .social h2 span {
    font-size: 2em;
  }
}
@media only screen and (max-width: 950px) {
  .home .social h2 {
    display: none;
  }
  .home .social .segment {
    float: none;
    height: auto;
    position: relative;
  }
  .home .social .icon {
    position: absolute;
    left: 5em;
    top: 5em;
  }
}
